/* .project-links{
    display: flex;
    justify-content: space-between;
    /* width: 25%; */
    /* margin: auto; */


/* .project-links a{
    color: navy;
    padding: 100px
} */

/* .card-display{
    width: 75%;
    margin: auto;
    text-align: center;
}
.project-one{

} */